{% extends "base.html" %}
{% block main_content %}
<br><br>
<div class="span9">
<div class="pull-right">
        <a href='#' class='btn'>
            <i class="icon-th-list icon-black"></i>
        </a>
</div>
{% include 'gitapp/repoinfo.html'%}
<div class="bordered">
<span class="muted"><i class="icon-list icon-black"></i> {{num_lines}} Lines <i class="icon-file icon-black"></i> {{size}} Bytes</span>
<strong class="text-info offset1"><a href='{{project.base_dir}}'>{{filename}}</a></strong>
    <div class="btn-group pull-right">
        <a class='btn' href='{{text_url}}' class="btn"><i class="icon-text-width icon-black"></i> Text</a>
        <a class='btn' href='{{edit_url}}' class="btn"><i class="icon-edit icon-black"></i> Edit</a>
        <a class='btn' href='{{history_url}}' class="btn"><i class=" icon-backward icon-black"></i> History</a>
        <a class='btn' href='#' class="btn"><i class="icon-trash icon-black"></i> Delete</a>
    </div>
   <div class="clearfix"></div>
</div><!--bordered-->
{% load pygmentify %}
{% pygment %}
    <pre lang="{{lang}}" class='span9'>
        {{code}}
    </pre>
{% endpygment %}
</div><!--span9-->
{% endblock %}
