              <ul class="unstyled">
                  <li class="span3"><a href="#"><i class="icon-exclamation-sign icon-black"></i> Issues</a></li>
                  <li class="span3"><a href="#"><i class="icon-magnet icon-black"></i> Pull Requests</a></li>
                  <li class="span3"><a href="#"><i class="icon-signal icon-black"></i> Graphs </a></li>
                  <li class="span3"><a href="#"><i class="icon-download icon-black"></i> Downloads <span class="badge">{{project.downloads}}</span></a></li>
                  <li class="span3"><a href="#"><i class="icon-share icon-black"></i>  Clones <span class="badge">{{project.clones}}</span></a></li>
                  <li class="span3"><a href="#"><i class="icon-random icon-black"></i> Foks </a></li>
                  <li class="span3"><a href="#"><i class="icon-eye-open icon-black"></i> Viwes</a></li>
              </ul>
